@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.body {
  font-family: Roboto !important;
}
.main {
  display: flex;
  padding: 0 10vw 0 10vw;
  flex-wrap: wrap;
  justify-content: center;
}
.list {
  display: flex;
  margin-top: 2.5vh;
  flex-wrap: wrap;
  margin-right: 1vw;
  flex-direction: column;
}
.list-item {
  display: flex;
  justify-content: left;
  padding: 5px 5px;
  max-width: 17vw;
  max-height: max-content;
}
.img-list {
  box-sizing: border-box;
  max-height: 2.8rem;
  max-width: 2.8rem;
  min-height: 2.8rem;
  min-width: 2.8rem;
  padding: 0.1rem;
  align-items: center;
  border-radius: 0.5rem;
  object-fit: cover;
}
.text-list {
  font-size: 1.1rem;
  padding-left: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: auto 0;
}
.preview {
  width: 34rem;
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1vh;
}
.img-preview {
  width: 34rem;
  height: 52rem;
  margin: auto auto;
  margin-top: 1rem;
  margin-left: 0;
  border-radius: 0.3rem;
  object-fit: cover;
}
.highlight {
  background-color: rgb(63, 63, 196);
  border-radius: 0.3rem;
  color: white;
}
.preview-text {
  margin: auto auto;
  text-align: center;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .main {
    width: 100vw;
    margin: auto auto;
  }
  .list {
    justify-content: center;
  }
  .list-item {
    margin: auto auto;
  }
  .preview {
    margin: auto auto;
  }
}
